/*variables de colores*/
html {
  box-sizing: border-box;
  font-family: "Arial", Geneva, Helvetica, sans-serif;
}
body {
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  color: #949494;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #000000;
}
.link {
  color: #666666;
  text-decoration: none;
  font-size: 120%;
  font-weight: bold;
}
.auth-header {
  font-size: 110%;
  display: block;
  height: 4.1em;
  position: relative;
  padding: 0;
  color: #949494;
  width: 100%;
}
.auth-header img {
  border: none;
}
.auth-header__logo {
  display: block;
  float: left;
  width: 29%;
  border: none;
  margin-left: 4em;
}
.auth-header__lista-enlaces {
  width: 33%;
  margin: 0 auto;
  color: #000000;
  margin-top: 15px;
  float: left;
}
.auth-header--espaciado-margin {
  margin: 0 5px;
  color: #000000;
}
.auth-header__contacto {
  color: #646567;
  float: right;
  text-align: right;
  margin-top: 9px;
}
.breadcrumbs {
  margin: 20px 0;
  position: relative;
  width: 100%;
  min-height: 2em;
  display: block;
  background-color: #ffffff;
  border-bottom: 1px solid #b1b1b1;
}
.breadcrumbs__order-element {
  display: inline;
  font-size: 110%;
  line-height: 1.4em;
  margin: 0;
  padding-bottom: .2em;
  padding-right: .1em;
}
.breadcrumbs__order-element a {
  color: #666666;
  font-weight: bold;
}
.breadcrumbs__separador {
  color: #666666;
  margin: 0 5px;
}
.compra_express-control {
  margin: 16px 0;
  font-size: 120%;
}
.compra_express-control__compra {
  text-decoration: underline;
  color: #666666;
  font-weight: bold;
  margin-right: .2em;
  background: url(../images/bg_compra_expres.gif) no-repeat left 0.35em;
  padding-left: .8em;
  margin-left: 3em;
}
.compra_express-control__lista {
  color: #9e9e9e;
}
.compra_express-control a:hover {
  color: #666666;
}
.demo-compra {
  float: left;
}
.demo-compra__video_player {
  display: inline-block;
  background: url("../images/icon_video.gif") no-repeat;
  padding-left: 30px;
  vertical-align: top;
  float: left;
  color: #000000;
  line-height: 11px;
  margin-left: 5px;
  font-weight: bold;
}
.demo-compra__video_player:hover {
  text-decoration: none;
}
.ene {
  float: left;
  padding-left: 6em;
  padding-top: 2em;
}
.grid {
  width: 100%;
  display: block;
  margin: 10px 0;
  border-bottom: 0.1em solid #d1d1d1;
  padding-bottom: 30px;
  float: left;
}
.grid--color-red {
  color: #e30119;
}
.grid-header {
  background: #e0e0e0;
  color: #5a5a5a;
  width: 100%;
  height: 3.5em;
  padding: 1em;
}
.grid-results {
  font-size: 130%;
  padding: 2em 0;
  color: #4d4d4d;
  font-weight: bold;
}
.grid-results--color-orange {
  font-weight: bold;
  color: #ec6a0c;
}
.grid-subtile {
  background: #fff0d1;
  width: 100%;
  padding: 5px 15px;
  clear: both;
}
.grid-subtile__list-element {
  display: inline;
  margin: 0;
  padding-bottom: .2em;
  padding-right: .1em;
}
.grid-subtile__list-element a {
  color: #ec6a0c;
  font-size: 115%;
}
.grid-subtile__list-element a:last-child {
  font-weight: bold;
}
.grid-subtile__separador {
  margin: 0 5px;
  color: #ec6a0c;
}
.grid-subtile-product {
  background: #fff0d1;
  width: 100%;
  padding: 5px 15px;
  color: #ec6a0c;
  font-weight: bold;
  font-size: 115%;
  clear: both;
}
.grid-tite {
  background: #e0e0e0;
  color: #5a5a5a;
  width: 100%;
  padding: 0.4em 1em;
  font-size: 220%;
}
.grid-type {
  float: right;
  font-size: 105%;
  color: #5a5a5a;
}
.grid-type__order-icon {
  float: right;
}
.grid-type__order-options {
  float: left;
}
.grid-type__icon {
  left: -99999px;
  text-indent: -999999px;
  margin: 0 5px;
  cursor: pointer;
  color: transparent;
  float: left;
  background: url(../images/order.png) no-repeat top left;
  background-position: 0 0;
  width: 22px;
  height: 17px;
}
.grid-type__icon.act {
  background-position: 0 -27px;
  width: 22px;
  height: 23px;
}
.grid-type__list {
  left: -99999px;
  text-indent: -999999px;
  margin: 0 5px;
  cursor: pointer;
  color: transparent;
  float: left;
  background: url(../images/order.png) no-repeat top left;
  background-position: 0 -60px;
  width: 22px;
  height: 17px;
}
.grid-type__list.act {
  background-position: 0 -87px;
  width: 22px;
  height: 23px;
}
.language {
  float: right;
}
.language__element {
  background: url(../images/language.png) no-repeat;
  padding-right: 40px;
  font-size: 0.7em;
  padding-bottom: 6px;
  padding-left: 6px;
  display: inline-block;
}
.language__element a {
  color: #000000;
}
.language__element:hover {
  background-color: #fad193;
}
.language__element:hover a {
  text-decoration: none;
}
.language__es {
  background-position: 67px -39px;
}
.language__de {
  background-position: 67px 4px;
}
.language__en {
  background-position: 67px -15px;
}
.main-menu {
  background: #4d544d;
  clear: both;
  width: 73%;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.55);
  -moz-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.55);
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.55);
}
.main-menu__menu-block {
  padding: 0.9em 0;
}
.main-menu__menu-element {
  display: inline-block;
  border-right: 1px solid #868d86;
}
.main-menu__menu-element > a {
  color: #ffffff;
  font-size: 120%;
  font-weight: bold;
  cursor: pointer;
  padding: 0 1.7em;
}
.main-menu__menu-element:last-child {
  border-right: none;
}
.main-menu--link-border {
  border: none;
}
.product-sheet {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 2.6em;
  margin-bottom: 1.5em;
}
.product-sheet__product_view {
  position: relative;
  float: left;
  width: 36.3em;
}
.product-sheet__product_view_img {
  position: relative;
  float: left;
  width: 100%;
  text-align: right;
  margin-bottom: 1em;
}
.product-sheet__freshicon--view-detail {
  position: absolute;
  right: 0;
}
.product-sheet__product_view_zoom {
  position: relative;
  float: left;
  text-align: center;
  margin-top: 4em;
  width: 100%;
}
.product-sheet__product_view_zoom a {
  font-size: 120%;
  color: #797979;
  text-decoration: underline;
  background-image: url(../images/ico_zoom.gif);
  background-repeat: no-repeat;
  background-position: 1.3em 0;
  padding: .3em 0 .5em 2em;
  display: block;
  margin: 0 auto;
  width: 12.5em;
}
.product-sheet__product_view_zoom a:hover {
  color: #008449;
}
.product-sheet__product_description {
  position: relative;
  float: right;
  width: 31em;
  color: #646567;
}
.product-sheet__produt_name {
  position: relative;
  width: 100%;
  margin-bottom: 1.1em;
  margin-top: 2.6em;
  font-size: 180%;
  font-weight: bold;
}
.product-sheet__product_price {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  font-size: 240%;
}
.product-sheet__box-number {
  position: relative;
  float: left;
  font-size: 115%;
}
.product-sheet__txt {
  float: left;
  margin-right: 1em;
  padding-top: 1.5em;
}
.product-sheet--margin-left {
  float: left;
  margin-top: 4px;
}
.product-sheet--margin-top {
  margin-top: 15px;
}
.search {
  margin-bottom: 10px;
  position: relative;
  display: table;
  border-collapse: separate;
  float: left;
}
.search__group-select {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  width: 40%;
  vertical-align: middle;
  display: table-cell;
}
.search__form-control {
  margin: 0;
  display: block;
  height: 25px;
  padding: 0px 10px;
  color: #555555;
  background-color: #f0f0f0;
  background-image: none;
  border: 1px solid #ccc;
}
.search__label-control {
  color: #000000;
  float: left;
  font-size: 12px;
  font-weight: 0;
  line-height: 18px;
  margin: 0;
  width: 180px;
  display: block;
  height: 25px;
  padding: 6px 12px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.search__btn-default {
  background: url(../images/search-lupa.png) no-repeat center;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: none;
  margin: 0;
  height: 25px;
  width: 43px;
}
.shop-tabs {
  display: block;
  height: 33px;
  margin-left: 25px;
  float: left;
}
.shop-tabs__tabs-item {
  text-indent: inherit;
  float: left;
  margin-right: 8px;
  list-style-type: none;
  width: 209px;
  height: 34px;
}
.shop-tabs__tabs-item.aptc {
  background: url(../images/shop-tabs-aptc.png) no-repeat;
  background-position: 0 0;
}
.shop-tabs__tabs-item.gourmet {
  background: url(../images/shop-tabs-gourmet.png) no-repeat;
  background-position: 0 0px;
}
.shop-tabs__tabs-item.logoSuper {
  background: url(../images/shop-tabs-supermercado.png) no-repeat;
  background-position: 0 0px;
}
.shop-tabs__tabs-item.act {
  background-position: 0 -84px;
}
.shop-tabs a {
  position: absolute;
  left: -99999px;
  text-indent: -999999px;
  line-height: 0px;
}
.supersections-menu {
  width: 100%;
  height: 4.5em;
}
.supersections-menu__supersections-element {
  float: left;
  position: relative;
  height: auto;
  border: 1px solid #c6c7c8;
  cursor: pointer;
  width: 86px;
}
.supersections-menu__supersections-element > a {
  color: transparent;
  position: relative;
}
.supersections-menu__supersections-element > a img {
  max-width: 100%;
  position: relative;
  z-index: -1;
  display: block;
  max-width: 87px;
  margin-top: 3px;
}
.supersections-menu__supersections-element:hover {
  border: solid #e77600 0.2em;
  overflow: hidden;
}
.supersections-menu .act {
  background: url(../images/productos/marcador_seccion.gif) no-repeat center top;
  padding-bottom: 0.7em;
  border: 0;
  width: 90px;
}
.supersections-menu .act img {
  float: right;
}
.supersections-menu .act:hover {
  border: none;
}
.symbols {
  width: auto;
  margin: 0 auto;
  float: left;
}
.symbols > a {
  float: left;
  font-size: 105%;
  color: #5a5a5a;
  text-decoration: underline;
}
.symbols > a:hover {
  color: #000000;
}
.symbols__icon-ayuda {
  background: url(../images/options/icon_sig_simbolos.gif) no-repeat center 3px;
  color: transparent;
  padding: 4px;
}
.ticket {
  box-sizing: border-box;
  position: relative;
  margin-left: 693px!important;
  font-size: 120%;
}
.ticket input {
  width: 1.5em;
  border-top: solid .1em #858585;
  border-right: solid .1em #c2c2c2;
  border-bottom: solid .1em #e1e1e1;
  border-left: solid .1em #c2c2c2;
  color: #000000;
  padding: .1em 0;
  background: url(../images/bg_caja_cantidad.gif) no-repeat left top;
  margin-left: 1px;
  text-align: center;
}
.ticket--floating {
  width: 267px;
  width: 22.5em;
}
.ticket__ticket_head {
  z-index: 100;
  position: fixed;
  width: 22.5em;
  padding: 0.5em;
  height: 33px;
  color: #ffffff;
  background: #fcb132;
  top: 0px;
  background: -moz-linear-gradient(#fcb132, #e57602);
  background: -webkit-linear-gradient(#fcb132, #e57602);
  background: -o-linear-gradient(#fcb132, #e57602);
  background: -ms-linear-gradient(#fcb132, #e57602);
  background: linear-gradient(#fcb132, #e57602);
}
.ticket__ticket-links {
  color: #ffffff;
  position: absolute;
  top: 10px;
  font-weight: bold;
  width: 95%;
}
.ticket__ticket-links:hover {
  text-decoration: none;
  color: #ffffff;
}
.ticket__ticket-links span {
  margin-right: .2em;
  vertical-align: middle;
}
.ticket__icono-carrito {
  background: url('../images/ticket-sbfbdbeafdf.png') no-repeat;
  width: 18px;
  height: 17px;
  position: absolute;
}
.ticket__micompra {
  margin-left: 25px;
}
.ticket__icono_flecha {
  background: url('../images/ticket-sbfbdbeafdf.png') no-repeat;
  width: 7px;
  height: 4px;
  display: inline-block;
  background-position: 0 -18px;
}
.ticket__verticket {
  color: #000000;
  float: right;
}
.ticket__ticket_fixed {
  position: fixed;
  top: 33px;
  z-index: 2999;
  width: 22.5em;
  color: #000000;
  background-color: #fff0d1;
  border: 2px solid #e77600;
  padding: 9.4em 0;
}
.ticket__importe_total {
  float: left;
  text-align: left;
  width: 49%;
  margin-left: 3px;
}
.ticket__btn_ticket {
  margin-top: .5em;
  float: left;
  color: #ffffff;
  background: url(../images/btn_tramitar.jpg) no-repeat;
  width: 8.55em;
  height: 1.7em;
  cursor: pointer;
  padding-top: .3em;
  font-weight: bold;
  background-color: transparent;
  border: 0;
  line-height: 12px;
}
.ticket__btn_ticket a {
  color: #ffffff;
  padding-left: 1.3em;
}
.ticket__ticket_drop {
  right: auto;
  position: fixed;
  top: 33px;
  z-index: 3000;
  display: block;
  width: 22.5em;
}
.ticket__sin_compra_box {
  float: left;
  width: 100%;
  padding: 10px;
}
.ticket__producto {
  color: colorRed;
  font-weight: bold;
}
.ticket__listar_titular {
  float: left;
  color: #ec6a0c;
  margin-bottom: .2em;
  width: 100%;
  font-weight: bold;
}
.ticket__producto_listar {
  float: left;
  width: 54%;
  color: #000000;
  padding-top: .2em;
  margin-right: .1em;
  font-size: 80%;
}
.ticket__total {
  float: left;
  width: auto;
  margin-right: 1em;
  color: #000000;
  font-weight: bold;
  padding-top: .1em;
}
.ticket__cantidad_producto_listar {
  float: left;
  width: 3.1em;
  margin-top: 0;
  margin-right: 1em;
}
.ticket__caja_cantidad_producto_listar {
  float: left;
  width: 1.7em;
  margin-right: .4em;
}
.ticket__listar_compra_box {
  float: left;
  width: 100%;
  margin-top: .3em;
  border-bottom: .1em solid #ccc;
  padding: .5em 10px;
}
.ticket__btn_cantidad_producto_ticket {
  margin-top: 3px;
  margin-left: 28px;
}
.ticket__btn_cantidad_producto_ticket img {
  width: 13px;
  height: 9px;
  float: left;
  cursor: pointer;
}
.ticket__producto_listar {
  float: left;
  width: 54%;
  color: #000000;
  font-weight: normal!important;
  padding-top: .2em;
  margin-right: .1em;
}
.ticket__precio_listado {
  color: #e30119;
  font-weight: bold;
  margin-left: .4em;
  font-size: 120%;
}
.ticket__ver_cesta a {
  color: #666666;
  background: url(../images/flecha_naranja.jpg) no-repeat 0 0.3em;
  padding-left: 1em;
  font-size: 90%;
}
.ticket__listar_compra_box_ultimo {
  float: left;
  width: 100%;
  margin-top: .3em;
  padding: .1em 10px;
}
.ticket__listar_box_izda {
  width: 8em;
  float: left;
  height: 6em;
}
.ticket__listar_box_dcha {
  width: 12em;
  float: left;
}
.ticket__resultado {
  float: left;
  width: 100%;
  color: #000000;
  font-weight: bold;
}
.ticket__resultados {
  float: left;
  color: #000000;
}
.ticket__precio {
  float: right;
  color: #000000;
  text-align: right;
  margin-right: 2em;
}
.ticket__listar_box_dcha_margen {
  width: 10.1em;
  float: left;
  margin-top: .5em;
  margin-bottom: .5em;
}
.ticket__btn_box {
  margin-top: 1.5em;
  float: left;
  color: #ffffff;
  background: url(../images/btn_tramitar.jpg) no-repeat;
  width: 11em;
  cursor: pointer;
  font-weight: bold;
  border: 0;
  padding: 3.5px;
  height: 2.5em;
}
.ticket__btn_box a {
  color: #ffffff;
  padding-left: 1.4em;
}
.tile__elemnt-list {
  width: 98.4%;
  padding: 2em 0 2em .6em;
  border-bottom: 0.1em solid #d1d1d1;
  float: left;
}
.tile__product > a {
  float: left;
}
.tile__product > a img {
  width: 75px;
  height: auto;
  border: none;
}
.tile__description {
  max-width: 44%;
  margin-left: 5em;
  padding-top: 1.6em;
  font-size: 120%;
  float: left;
}
.tile-controls {
  width: 17em;
  margin-top: 0;
  background: #f0f0f0;
  padding: 2.2em 0.9em 0.9em 0.9em;
  margin-right: 0;
  float: right;
}
.tile-controls__price {
  font-size: 16px;
  float: left;
}
.tile-controls__price--text-tachado {
  text-decoration: line-through;
}
.tile-controls__price-kg {
  margin-top: 2px;
  color: #9e9e9e;
  margin-right: 5px;
  text-align: right;
}
.tile-controls__ofert {
  font-size: 16px;
  margin-top: 8px;
  color: #e30119;
  font-weight: bold;
}
.tile-controls__form {
  margin-top: 10px;
  clear: both;
}
.tile-controls__amounts {
  float: left;
}
.tile-controls__btn-resta {
  background: url(../images/controls/menos2.gif) no-repeat center;
  border: none;
  color: transparent;
  width: 30px;
  height: 26px;
  float: left;
}
.tile-controls__btn-suma {
  background: url(../images/controls/mas2.gif) no-repeat center;
  border: none;
  color: transparent;
  width: 30px;
  height: 26px;
}
.tile-controls__input-result {
  width: 30px;
  float: left;
  padding: .1em 0;
  border-top: solid .1em #858585;
  border-right: solid .1em #c2c2c2;
  border-bottom: solid .1em #e1e1e1;
  border-left: solid .1em #c2c2c2;
  margin: 3px 0;
}
.tile-controls__btn-cart {
  background: url(../images/controls/addToCart2.gif) no-repeat center;
  border: none;
  color: transparent;
  width: 43px;
  height: 26px;
  float: left;
}
.tile-controls__lista {
  float: right;
  margin-top: 0.34em;
}
.tile-controls__lista img {
  border: none;
}
.tile-controls__agotado {
  margin-top: 4px;
  float: left;
  font-size: 150%;
  color: #636363;
  margin-left: 0.5em;
}
.tile-controls--opacity-grey {
  color: #9e9e9e;
  font-weight: lighter;
}
.tile-controls--opacity-red {
  /*color: @colorOpacity;*/
  color: #f5a8b1;
  font-weight: lighter;
}
.tile-grid {
  margin-top: 20px;
  border-right: 0.1em solid #d1d1d1;
  width: 100%;
  float: left;
  border-bottom: 0.1em solid #d1d1d1;
  padding-bottom: 5px;
}
.tile-grid__elemnt-grid {
  width: 25%;
  padding: 1.5em;
  float: left;
  border-left: 0.1em solid #d1d1d1;
}
.tile-grid__product > a img {
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.tile-grid__description {
  width: 100%;
  padding-top: 1.6em;
  font-size: 120%;
  float: left;
  margin: 4px 0 30px 0;
}
.tile-grid .tile-controls {
  width: 100%;
}
.order {
  width: 47%;
  float: left;
  font-size: 105%;
}
.order__tile-order {
  float: left;
}
.order__order-element {
  float: left;
  font-size: 105%;
  color: #5a5a5a;
}
.order__order-element > a {
  text-decoration: underline;
  color: #5a5a5a;
  font-size: 105%;
}
.order__order-element > a:hover {
  color: #000000;
}
.order__order-element .act {
  color: #000000;
  font-weight: bold;
}
.order__separador {
  margin: 0 5px;
}
.link-subir {
  color: #666666;
  float: right;
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 15px;
  margin-top: 40px;
  background: url("../images/btn_flecha_subir.gif") no-repeat scroll left center transparent;
}
.link-subir:hover {
  color: #666666;
}
.link-volver {
  position: relative;
  float: left;
  width: 100%;
  clear: both;
  margin-top: 1.5em;
  margin: 0 auto;
}
.link-volver__btn_volver {
  background-image: url(../images/btn_volver_save.gif);
  background-repeat: no-repeat;
  color: #878787;
  cursor: pointer;
  font-size: 120%;
  font-weight: bold;
  background-position: left center;
  width: 10em;
  display: block;
  margin: 0 auto;
  padding: .7em 0 .8em 0;
  text-align: center;
}
.link-volver__btn_volver:hover {
  color: #666666;
}
.link-volver-top {
  font-size: 120%;
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #666666;
}
.link-volver-top:hover {
  color: #666666;
}
