	    
{@eq key=onSale}
  <div class="tile-controls__price">{#priceInfo}{basePriceFormatted}{/priceInfo}1</div>
  <div class="tile-controls__price-kg">({#priceInfo}{PUMPriceFormatted}{/priceInfo})</div>
{:else}
  <div class="tile-controls__price--agotado">{#priceInfo}{basePriceFormatted}{/priceInfo}1</div>
  <div class="tile-controls__price-kg">({#priceInfo}{PUMPriceFormatted}{/priceInfo})</div>
{/eq}


