.auth-header{
	font-size: 110%; 
	display: block;
	height: 4.1em;
	position: relative;
	padding: 0;
	color: @colorLinksheader;
	width: 100%;
	img{border: none;}
	&__logo{
		display:block;
		float: left;
		width: 29%;
		border: none;
		margin-left:4em;
	}
	&__lista-enlaces{
		width: 33%;
		margin: 0 auto;
		color: @colorBlack;
		margin-top: 15px;
		float: left;
	}
	&--espaciado-margin{
		margin:0 5px;
		color: @colorBlack;
	}

	&__contacto{
		color: @colorContacto;
		float: right;
		text-align: right;
		margin-top: 9px;
	}
} 

