
html {
  box-sizing: border-box;
  font-family: "Arial",Geneva,Helvetica,sans-serif;
}
body{font-size: 62.5%;}
*, *:before, *:after {
  box-sizing: inherit;
}

ul{list-style-type: none;margin: 0;padding: 0}
a{color: @colorLinksheader; text-decoration: none;}
a:hover{text-decoration: underline;color: @colorBlack;}
.link{
	color: @colorLinks;
	text-decoration: none;
	font-size: 120%;
	font-weight: bold;
}
