.breadcrumbs{
	margin: 20px 0;
	position: relative;
	width: 100%;
	min-height: 2em;
	display: block;
	background-color: @colorWhite;
	border-bottom: 1px solid #b1b1b1;
	&__order-element{
		display: inline;
		font-size: 110%;
		line-height: 1.4em;
		margin: 0;
		padding-bottom: .2em;
		padding-right: .1em;
		a{
			color: @colorLinks;
			font-weight: bold;
		}
	}
	&__separador{
		color: @colorLinks;
		margin: 0 5px;
	}
}