.compra_express-control {
	margin: 16px 0;
	font-size: 120%;
	&__compra{
		text-decoration: underline;
		color: @colorLinks;
		font-weight: bold;
		margin-right: .2em;
		background: url(../images/bg_compra_expres.gif) no-repeat left .35em;
		padding-left: .8em;
		margin-left: 3em;
	}
	&__lista{color: @colorCompraExpress}
	a:hover{color: @colorLinks}
}