.demo-compra{
	float: left;
	&__video_player {
		display: inline-block;
		background: url("../images/icon_video.gif") no-repeat;
		padding-left: 30px;
		vertical-align: top;
		float: left;
		color: @colorBlack;
		line-height: 11px;
		margin-left: 5px;
		font-weight: bold;
		&:hover{text-decoration:none;};
	}
}