.grid-subtile{
	background: @backgroundOrange;
	width: 100%;
	padding: 5px 15px;
	clear: both;
	&__list-element{
		display: inline;
		margin: 0;
		padding-bottom: .2em;
		padding-right: .1em;
		a{
			color: @colorOrange;
			font-size: 115%;
			&:last-child{font-weight: bold;}
		}
	}
	&__separador{
		margin: 0 5px;
		color: @colorOrange;
	}
}