.grid-type{
	float: right;
	font-size: 105%;
	color: @colorDarkGray;
	&__order-icon{
		float: right;
	}
	&__order-options{
		float: left;
	}
	&__icon{
		left: -99999px;
		text-indent: -999999px;

		margin: 0 5px;
		cursor: pointer;
		color: transparent;
		float: left;
		background: url(../images/order.png) no-repeat top left;
		background-position: 0 0; width: 22px; height: 17px;
		&.act{background-position: 0 -27px; width: 22px; height: 23px; }
 	}
 	&__list{
		left: -99999px;
		text-indent: -999999px;

 		margin: 0 5px;
 		cursor: pointer;
 		color: transparent;
		float: left;
		background: url(../images/order.png) no-repeat top left;
		background-position: 0 -60px; width: 22px; height: 17px;
		&.act{ background-position: 0 -87px; width: 22px; height: 23px; }
 	}
}