.language{
	float: right;
	&__element{
		background:url(../images/language.png) no-repeat;
		padding-right: 40px;
		font-size:0.7em;
		padding-bottom: 6px;
		padding-left: 6px;
		display: inline-block;
		a{color: @colorBlack;}
		&:hover{background-color: @colorLanguage;
			a{text-decoration: none;}
		}
	}
	&__es{background-position: 67px -39px;}
	&__de{background-position: 67px 4px;}
	&__en{background-position: 67px -15px;}
}
