.link-volver {
	position: relative;
	float: left;
	width: 100%;
	clear: both;
	margin-top: 1.5em;
	margin: 0 auto;
	&__btn_volver{
		background-image: url(../images/btn_volver_save.gif);
		background-repeat: no-repeat;
		color: #878787;
		cursor: pointer;
		font-size: 120%;
		font-weight: bold;
		background-position: left center;
		width: 10em;
		display: block;
		margin: 0 auto;
		padding: .7em 0 .8em 0;
		text-align: center;
		&:hover{color:@colorLinks}
	}
}