.link-subir{
	color: @colorLinks;
	float: right;
	font-size: 1.2em;
	font-weight: bold;
	padding-left: 15px;
	margin-top: 40px;
	background: url("../images/btn_flecha_subir.gif") no-repeat scroll left center transparent;
	&:hover{color:@colorLinks}
}