.main-menu{
	background: @backgroundMenu;
	clear:both; 
	width: 73%;
	margin-bottom: 10px;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.55);
	-moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.55);
	box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.55);
	&__menu-block{
		padding: 0.9em 0;
	}
	&__menu-element{
		display: inline-block;
		border-right: 1px solid #868d86;
		>a{
			color: @colorWhite;
			font-size: 120%;
			font-weight: bold;
			cursor: pointer;
			padding: 0 1.7em;
		}
		&:last-child{border-right: none;}
	}
	&--link-border{
		border: none;
	}		
}