.order{
	width: 47%;
	float: left;
	font-size: 105%;
	&__tile-order{
		float: left;
	}
	&__order-element{
		float: left;
		font-size: 105%;
		color: @colorDarkGray;
		>a{
			text-decoration: underline;
			color: @colorDarkGray;
			font-size: 105%;
			&:hover{color: @colorBlack}
		}
		.act {
			color: @colorBlack;font-weight: bold;
		}
	}
	&__separador{
		margin: 0 5px;
	}
}