.product-sheet {
	position: relative;
	float: left;
	width: 100%;
	margin-top: 2.6em;
	margin-bottom: 1.5em;
	&__product_view {
		position: relative;
		float: left;
		width: 36.3em;
	}
	&__product_view_img {
		position: relative;
		float: left;
		width: 100%;
		text-align: right;
		margin-bottom: 1em;
	}

	&__freshicon--view-detail {
		position: absolute;
		right: 0;
	}
	&__product_view_zoom {
		position: relative;
		float: left;
		text-align: center;
		margin-top: 4em;
		width: 100%;
		a {
			font-size: 120%;
			color: #797979;
			text-decoration: underline;
			background-image: url(../images/ico_zoom.gif);
			background-repeat: no-repeat;
			background-position: 1.3em 0;
			padding: .3em 0 .5em 2em;
			display: block;
			margin: 0 auto;
			width: 12.5em;
			&:hover{color: #008449;}
		}
	}
	&__product_description {
		position: relative;
		float: right;
		width: 31em;
		color: #646567;
	}
	&__produt_name {
		position: relative;
		width: 100%;
		margin-bottom: 1.1em;
		margin-top: 2.6em;
		font-size: 180%;
		font-weight: bold;
	}
	&__product_price {
		margin-top:0.4em;
		margin-bottom: 0.4em;
		font-size: 240%;
	}
	&__box-number {
		position: relative;
		float: left;
		font-size: 115%;
	}
	&__txt{
		float: left;
		margin-right: 1em;
		padding-top: 1.5em;
	}
	&--margin-left{float: left; margin-top: 4px;}
	&--margin-top{margin-top: 15px;}
}
