.search{
	margin-bottom: 10px;
	position: relative;
	display: table;
	border-collapse: separate;
	float: left;
	&__group-select {
		position: relative;
		font-size: 0;
		white-space: nowrap;
		width: 40%;
		vertical-align: middle;
		display: table-cell;
	}
	&__form-control{
		margin: 0;
		display: block;
		height: 25px;
		padding: 0px 10px;
		color: @colorForm;
		background-color: @colorFormBackground;
		background-image: none;
		border: 1px solid #ccc;
	}
	&__label-control {
		color: @colorBlack;
		float: left;
		font-size: 12px;
		font-weight: 0;
		line-height: 18px;
		margin: 0;
		width: 180px;
		display: block;
		height: 25px;
		padding: 6px 12px;
		background-color: @colorWhite;
		border: 1px solid #ccc;
		webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;	
	}
	&__btn-default{
		background: url(../images/search-lupa.png) no-repeat center;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		border:none;
		margin: 0;
		height: 25px;
		width: 43px;
	}
}
