.shop-tabs{
	display: block;
	height: 33px;
	margin-left: 25px;
	float: left;
	&__tabs-item{
		text-indent: inherit;
		float: left;
		margin-right: 8px;
		list-style-type: none;
		width: 209px;
		height: 34px;
			&.aptc{background: url(../images/shop-tabs-aptc.png) no-repeat; background-position: 0 0;  } 
			&.gourmet{background: url(../images/shop-tabs-gourmet.png) no-repeat; background-position: 0 -0px;  } 
			&.logoSuper{background: url(../images/shop-tabs-supermercado.png) no-repeat; background-position: 0 0px;  } 
			&.act{background-position: 0 -84px;}
	}
	a{
		position: absolute;
		left: -99999px;
		text-indent: -999999px;
		line-height: 0px;
	}

}