.supersections-menu{
	width: 100%;
	height: 4.5em;
	&__supersections-element{
		float: left;
		position: relative;
		height: auto;
		border:  1px solid #c6c7c8;
		cursor: pointer;
		width: 86px;
		>a{
			color: transparent;
			position: relative;
			img{
				max-width: 100%;
				position: relative;
				z-index: -1;
				display: block;
				max-width: 87px;
				margin-top: 3px;
			}
		}
		&:hover{border:solid #e77600 0.2em;overflow: hidden;}
	}
	.act {
		background: url(../images/productos/marcador_seccion.gif) no-repeat center top;
		padding-bottom: 0.7em;
		border: 0;
		width: 90px;
		img{float: right;}
		&:hover{border:none;}
	}
}