.symbols{
	width: auto;
	margin: 0 auto;
	float: left;
	>a{
		float: left;
		font-size: 105%;
 		color: @colorDarkGray;
 		text-decoration: underline;
 		&:hover{color:@colorBlack;}
	}
	&__icon-ayuda{
		background: url(../images/options/icon_sig_simbolos.gif) no-repeat center 3px;
		color: transparent;
		padding: 4px;
	}
}