.ticket{
	box-sizing: border-box;
	position: relative;
	margin-left:693px!important;
	font-size: 120%;
	input{
		width: 1.5em;
		border-top: solid .1em #858585;
		border-right: solid .1em #c2c2c2;
		border-bottom: solid .1em #e1e1e1;
		border-left: solid .1em #c2c2c2;
		color: @colorBlack;
		padding: .1em 0;
		background: url(../images/bg_caja_cantidad.gif) no-repeat left top;
		margin-left: 1px;
		text-align: center;
	}
	
	&--floating{
		width:267px;
		width:22.5em;
	}

	&__ticket_head{
		z-index: 100;
		position: fixed;
		width: 22.5em;
		padding: 0.5em;
		height: 33px;
		color: @colorWhite;
		background: #fcb132;
		top: 0px;
		background: -moz-linear-gradient(#fcb132,#e57602);
		background: -webkit-linear-gradient(#fcb132,#e57602);
		background: -o-linear-gradient(#fcb132,#e57602);
		background: -ms-linear-gradient(#fcb132,#e57602);
		background: linear-gradient(#fcb132,#e57602);
	}

	&__ticket-links{
		color: @colorWhite;
		position: absolute;
		top: 10px;
		font-weight: bold;
		width: 95%;
		&:hover{text-decoration:none;color: @colorWhite;}
		span{margin-right: .2em;vertical-align: middle;}
	}

	&__icono-carrito{
		background: url('../images/ticket-sbfbdbeafdf.png') no-repeat;
		width: 18px;
		height: 17px;
		position: absolute;
	}

	&__micompra{
		margin-left: 25px;
	}
	&__icono_flecha{
		background: url('../images/ticket-sbfbdbeafdf.png') no-repeat;
		width: 7px;
		height: 4px;
		display: inline-block;
		background-position: 0 -18px;
	}
	
	&__verticket {
		color: @colorBlack;
		float: right;
	}

	&__ticket_fixed{
		position: fixed;
		top: 33px;
		z-index: 2999;
		width: 22.5em;
		color: @colorBlack;
		background-color: @backgroundOrange;
		border: 2px solid #e77600;
		padding: 9.4em 0;
	}

	&__importe_total{
		float: left;
		text-align: left;
		width: 49%;
		margin-left: 3px;
	}

	&__btn_ticket{
		margin-top: .5em;
		float: left;
		color: @colorWhite;
		background: url(../images/btn_tramitar.jpg)  no-repeat;
		width: 8.55em;
		height: 1.7em;
		cursor: pointer;
		padding-top: .3em;
		font-weight: bold;
		background-color: transparent;
		border: 0;
		line-height: 12px;
		a {
			color: @colorWhite;
			padding-left: 1.3em;
		}
	}

	&__ticket_drop{
		right: auto;
		position: fixed;
		top: 33px;
		z-index: 3000;
		display: block;
		width: 22.5em;
	}

	&__sin_compra_box {
		float: left;
		width: 100%;
		padding: 10px;
	}

	&__producto {
		color: colorRed;
		font-weight: bold;
	}

	&__listar_titular {
		float: left;
		color: #ec6a0c;
		margin-bottom: .2em;
		width: 100%;
		font-weight: bold;
	}

	&__producto_listar {
		float: left;
		width: 54%;
		color: @colorBlack;
		padding-top: .2em;
		margin-right: .1em;
		font-size: 80%;
	}

	&__total {
		float: left;
		width: auto;
		margin-right: 1em;
		color: @colorBlack;
		font-weight: bold;
		padding-top: .1em;
	}

	&__cantidad_producto_listar {
		float: left;
		width: 3.1em;
		margin-top: 0;
		margin-right: 1em;
	}

	&__caja_cantidad_producto_listar {
		float: left;
		width: 1.7em;
		margin-right: .4em;
	}

	&__listar_compra_box {
		float: left;
		width: 100%;
		margin-top: .3em;
		border-bottom: .1em solid #ccc;
		padding: .5em 10px;
	}

	&__btn_cantidad_producto_ticket{
		margin-top: 3px;
		margin-left: 28px;
		img{
			width: 13px;
			height: 9px;
			float: left;
			cursor: pointer;
		}
	}

	&__producto_listar {
		float: left;
		width: 54%;
		color: @colorBlack;
		font-weight: normal!important;
		padding-top: .2em;
		margin-right: .1em;
	}
	&__precio_listado {
		color: @colorRed;
		font-weight: bold;
		margin-left: .4em;
		font-size: 120%;
	}

	&__ver_cesta{
		a{
			color: @colorLinks;
			background: url(../images/flecha_naranja.jpg) no-repeat 0 .3em;
			padding-left: 1em;
			font-size: 90%;
		}
	}

	&__listar_compra_box_ultimo {
		float: left;
		width: 100%;
		margin-top: .3em;
		padding: .1em 10px;
	}

	&__listar_box_izda {
		width: 8em;
		float: left;
		height: 6em;
	}

	&__listar_box_dcha {
		width: 12em;
		float: left;
	}

	&__resultado {
		float: left;
		width: 100%;
		color: @colorBlack;
		font-weight: bold;
	}

	&__resultados {
		float: left;
		color: @colorBlack;
	}

	&__precio {
		float: right;
		color: @colorBlack;
		text-align: right;
		margin-right: 2em;
	}

	&__listar_box_dcha_margen {
		width: 10.1em;
		float: left;
		margin-top: .5em;
		margin-bottom: .5em;
	}

	&__btn_box {
		margin-top: 1.5em;
		float: left;
		color: @colorWhite;
		background: url(../images/btn_tramitar.jpg) no-repeat;
		width: 11em;
		cursor: pointer;
		font-weight: bold;
		border: 0;
		padding: 3.5px;
		height: 2.5em;
		 a {
			color: @colorWhite;
			padding-left: 1.4em;
		}
	}

}