.tile{
	&__elemnt-list{
		width: 98.4%;
		padding:2em 0 2em .6em;
		border-bottom: .1em solid @colorBorder;
		float: left;
	}
	&__product{
		>a{
			float: left;
			img{
				width: 75px;
				height: auto;
				border:none; 
			}
		}
	}
	&__description{
		max-width: 44%;
		margin-left: 5em;
		padding-top: 1.6em;
		font-size: 120%;
		float: left;
	}
}
