.tile-controls{
	width: 17em;
	margin-top: 0;
	background: @colorFormBackground;
	padding: 2.2em 0.9em 0.9em 0.9em;
	margin-right: 0;
	float: right;
	&__price{
		font-size: 16px;
		float: left;
		&--text-tachado{
			text-decoration:line-through;
		}
	}
	&__price-kg{
		margin-top: 2px;
		color: @colorCompraExpress;
		margin-right: 5px;
		text-align: right;
	}
	&__ofert{
		font-size: 16px;
		margin-top: 8px;
		color: @colorRed;
		font-weight: bold;
	}

	&__form{
		margin-top: 10px;
		clear: both;
	}
	&__amounts{
		float: left;
	}
	&__btn-resta{
		background: url(../images/controls/menos2.gif) no-repeat center;
		border: none;
		color: transparent;
		width: 30px;
		height: 26px;
		float: left;
	}
	&__btn-suma{
		background: url(../images/controls/mas2.gif) no-repeat center;
		border: none;
		color: transparent;
		width: 30px;
		height: 26px;
	}
	&__input-result{
		width: 30px;
		float: left;
		padding: .1em 0;
		border-top: solid .1em #858585;
		border-right: solid .1em #c2c2c2;
		border-bottom: solid .1em #e1e1e1;
		border-left: solid .1em #c2c2c2;
		margin: 3px 0;
	}
	&__btn-cart{
		background: url(../images/controls/addToCart2.gif) no-repeat center;
		border: none;
		color: transparent;
		width: 43px;
		height: 26px;
		float: left;
	}
	&__lista{
		float: right;
		margin-top: 0.34em;
		img{border: none;}
	}

	&__agotado{
		margin-top: 4px;
		float: left;
		font-size: 150%;
		color: #636363;
		margin-left: 0.5em;
	}

	&--opacity-grey{
		color: @colorCompraExpress;
		font-weight: lighter;
	}
		
	&--opacity-red{
		/*color: @colorOpacity;*/
		color: #f5a8b1;
		font-weight: lighter;
	}
}