.tile-grid{
	margin-top: 20px;
	border-right: .1em solid @colorBorder;
	width: 100%;
	float: left;
	border-bottom: .1em solid @colorBorder;
	padding-bottom: 5px;
	&__elemnt-grid{
		width: 25%;
		padding:1.5em;
		float: left;
		border-left: .1em solid @colorBorder;
	}
	&__product{
		>a{
			img{
				border:none;
				display: block;
				margin-left: auto;
				margin-right: auto 
			}
		}
	}
	&__description{
		width: 100%;
		padding-top: 1.6em;
		font-size: 120%;
		float: left;
		margin:4px 0 30px 0;
	}
	.tile-controls{
		width: 100%;
	}
}