/*variables de colores*/
@colorRed:#e30119;
@colorBlack:#000;
@colorWhite:#fff;
@colorLinksheader:#949494;
@colorLinks:#666;
@colorContacto:#646567;
@colorLanguage:#fad193;
@colorForm: #555;
@colorFormBackground: #f0f0f0;
@colorCompraExpress: #9e9e9e;
@colorDarkGray: #5a5a5a;
@colorOrange:#EC6A0C;
@colorOpacity: #f5a8b1;
@backgroundMenu:#4d544d;
@backgroundOrange:#fff0d1;
@backgroundGrey:#e0e0e0;
@colorBorder:#d1d1d1;
